/* 会员首页 */

.member-index {
  position: relative;
}

/* 会员信息 */
.member-index .member-msg {
  position: relative;
  width: 750rpx;
  height: 350rpx;
}

.member-index .member-msg .m-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.member-index .member-msg .member-info {
  padding: 50rpx 30rpx;
  display: flex;
  align-items: center;
  position: relative;
}

.member-index .member-msg .member-info .head-portrait {
  width: 80rpx;
  height: 87rpx;
  border-radius: 50%;
  position: relative;
}
.member-index .member-msg .member-info .head-portrait .head-avatar-bg{
  width: 98rpx;
  height: 98rpx; 
  /* border: 1rpx solid black; */
  border-radius: 50%;
}

.member-index .member-msg .member-info .head-portrait .head-avatar {
  position: absolute;
  top: -22rpx;
  left: -4rpx;
  width: 105rpx;
  height: 125rpx;
  border-radius: 50%;
}

.member-index .member-msg .member-info .text-box {
  margin: 0 40rpx;
  flex: 1;
}

.member-index .member-msg .member-info .text-box .name-box {
  display: flex;
  align-items: center;
}

.member-index .member-msg .member-info .text-box .name-box .name {
  max-width: 160rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 32rpx;
  font-weight: 600;
  color: #fff;
  /* max-width: 196rpx; */
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; */
}

.member-index .member-msg .member-info .text-box .name-box .level {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40rpx;
  padding: 0 14rpx;
  margin-left: 10rpx;
  box-sizing: border-box;
  background: #fff;
  border-radius: 32rpx;
}

.member-index .member-msg .member-info .text-box .name-box .level .l-bg {
  width: 28rpx;
  height: 28rpx;
}

.member-index .member-msg .member-info .text-box .name-box .level .text {
  color: #7c4733;
  font-size: 18rpx;
  font-family: arial;
  position: relative;
  line-height: 1.4em;
  margin-left: 12rpx;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.member-index .member-msg .member-info .text-box .date {
  margin-top: 14rpx;
  font-size: 24rpx;
  color: #fff;
}

.member-index .member-msg .member-info .buy-btn {
  width: 170rpx;
  height: 60rpx;
  line-height: 60rpx;
  text-align: center;
  font-size: 28rpx;
  color: #7c4733;
  background: #fbe3b4;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 70rpx;
  font-weight: 600;
}

.member-index .member-msg .grow-box {
  position: absolute;
  left: 0;
  bottom: 26rpx;
  color: #fff;
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  padding: 0 70rpx;
  box-sizing: border-box;
}

.member-index .member-msg .grow-box .item {
  flex: 1;
  text-align: center;
}

.member-index .member-msg .grow-box .item .text {
  font-size: 24rpx;
}

.member-index .member-msg .grow-box .item .number-box {
  margin-top: 10rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-index .member-msg .grow-box .item .number-box .number {
  font-family: arial;
  font-size: 40rpx;
}

.member-index .member-msg .grow-box .item .number-box .arr {
  font-size: 0;
  margin-left: 10rpx;
  margin-bottom: 4rpx;
}

.member-index .member-msg .grow-box .item .number-box .arr image {
  width: 12rpx;
  height: 20rpx;
}

/* 会员信息 end */

.member-tit {
  display: flex;
  align-items: center;
}
.member-tit2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.member-tit .text {
  flex: 1;
  font-size: 32rpx;
  font-weight: 600;
  position: relative;
  padding-left: 16rpx;
}

.member-tit .text::before {
  position: absolute;
  left: 0;
  top: 20%;
  display: block;
  width: 6rpx;
  height: 60%;
  content: ' ';
  background: #F81A1A;
  border-radius: 6rpx;
}

.member-tit .more {
  font-size: 24rpx;
  color: #999;
  margin-top: 10rpx;
}

/* 每日签到、青春豆活动、青春豆任务 */

.member-index .sign-in,
.member-index .activity,
.member-index .mission {
  margin-top: 50rpx;
  padding: 0 30rpx;
}

.member-index .sign-in .con-box {
  display: flex;
  padding: 0 5rpx;
  margin-bottom: -40rpx;
  overflow-y: auto;
}

.member-index .sign-in .con-box .item {
  margin-right: 20rpx;
  margin-top: 30rpx;
  text-align: center;
  height: 160rpx;
}

.member-index .sign-in .con-box .item:nth-child(7n) {
  margin-right: 0;
}

.member-index .sign-in .con-box .item .number {
  min-width: 80rpx;
  height: 80rpx;
  border-radius: 50%;
  text-align: center;
  line-height: 80rpx;
  background: #ffeee6;
  color: #F81A1A;
  font-family: arial;
  font-size: 24rpx;
}

.member-index .sign-in .con-box .item .number.num-text {
  font-size: 20rpx;
}

.member-index .sign-in .con-box .item .number.active {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from #f73200,
    to(#fe730c)
  );
  background: -o-linear-gradient(to left, #fe730c, #f73200);
  background: linear-gradient(to left, #fe730c, #f73200);
  background: -webkit-linear-gradient(to left, #fe730c, #f73200);
  color: #fff;
}

.member-index .sign-in .con-box .item .day {
  font-size: 24rpx;
  margin-top: 10rpx;
}

.member-index .activity .con-box {
  display: flex;
  margin-top: 30rpx;
}

.member-index .activity .con-box .item {
  width: 330rpx;
  height: 168rpx;
  position: relative;
}

.member-index .activity .con-box .item:first-child {
  margin-right: 30rpx;
}

.member-index .activity .con-box .item .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10rpx rgba(255, 121, 1, 0.5);
  border-radius: 16rpx;
}

.member-index .activity .con-box .item .b-text,
.member-index .activity .con-box .item .s-text {
  position: relative;
  color: #fff;
  margin-left: 20rpx;
}

.member-index .activity .con-box .item .b-text {
  font-size: 28rpx;
  font-weight: 600;
  margin-top: 48rpx;
}

.member-index .activity .con-box .item .s-text {
  font-size: 24rpx;
  margin-top: 6rpx;
  opacity: 0.8;
}

.member-index .mission .con-box .item {
  margin-top: 30rpx;
  display: flex;
  align-items: center;
  padding-bottom: 30rpx;
  border-bottom: 1px solid #eee;
}

.member-index .mission .con-box .item:last-child {
  border: 0;
}

.member-index .mission .con-box .item .mission-box {
  flex: 1;
  margin-right: 30rpx;
}

.member-index .mission .con-box .item .mission-box .name {
  font-size: 28rpx;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.member-index .mission .con-box .item .mission-box .mission-des {
  color: #999;
  font-size: 24rpx;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10rpx;
}

.member-index .mission .con-box .item .btn {
  background: #F81A1A;
  color: #fff;
  padding: 10rpx;
  border-radius: 60rpx;
  font-size: 28rpx;
  text-align: center;
}

.member-index .mission .con-box .item .btn.done {
  background: #ccc;
}

/* 每日签到、青春豆活动、青春豆任务 end */

/* 青春豆兑换 */

.integral-list {
  padding: 50rpx 30rpx 30rpx;
  background: #f6f7f9;
}

.integral-list .con-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

/* .integral-list .con-box .item {
  margin: 30rpx 30rpx 0 0;
  width: 330rpx;
  background: #fff;
  padding: 20rpx;
  box-sizing: border-box;
  border-radius: 10rpx;
}

.integral-list .con-box .item:nth-child(2n) {
  margin-right: 0;
}

.integral-list .con-box .item .img {
  width: 290rpx;
  height: 290rpx;
  font-size: 0;
}

.integral-list .con-box .item .img image {
  width: 100%;
  height: 100%;
}

.integral-list .con-box .item .name {
  font-size: 28rpx;
  margin: 16rpx 0 10rpx;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.integral-list .con-box .item .price {
  position: relative;
  padding-left: 34rpx;
  height: 28rpx;
  line-height: 28rpx;
  font-size: 24rpx;
}

.integral-list .con-box .item .price .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 28rpx;
  height: 28rpx;
}

.integral-list .con-box .item .old-price {
  font-size: 24rpx;
  color: #999;
  text-decoration: line-through;
  font-family: arial;
} */

/* 青春豆兑换 end */


